<mat-card class="details-card">
    
    <mat-card-content>
        <p  class="detail-title">Usuário</p>
        <p><span class="detail-title">ID:</span><span>{{user.id}}</span></p>
        <p><span class="detail-title">Nome:</span><span>{{user.name}}</span></p>
        <p><span class="detail-title">Username:</span><span>{{user.username}}</span></p>
        <p><span class="detail-title">Email:</span><span>{{user.email}}</span></p>
        <p><span class="detail-title">Telefone:</span><span>{{user.phone}}</span></p>
        <p><span class="detail-title">Website:</span><span>{{user.website}}</span></p>
        
        <p  class="detail-title">Endereço</p>
        <p><span class="detail-title">Rua:</span><span>{{user.address.street}}</span></p>
        <p><span class="detail-title">Suite:</span><span>{{user.address.suite}}</span></p>
        <p><span class="detail-title">Cidade:</span><span>{{user.address.city}}</span></p>
        <p><span class="detail-title">CEP:</span><span>{{user.address.zipcode}}</span></p>
        <p><span class="detail-title">Geolocalização: </span><span class="detail-title">Lat:</span><span>{{user.address.geo.lat}}</span><span class="detail-title" style="margin-left: 10px;">Lgt:</span><span >{{user.address.geo.lng}}</span></p>
        <p  class="detail-title">Empresa</p>
        <p><span class="detail-title">Nome:</span><span>{{user.company.name}}</span></p>
        <p><span class="detail-title">CatchPhrase:</span><span>{{user.company.name}}</span></p>
        <p><span class="detail-title">bs:</span><span>{{user.company.bs}}</span></p>
    </mat-card-content>
    <mat-card-actions>
      <button  mat-raised-button color="primary"routerLink="/" >Voltar</button>

    </mat-card-actions>
</mat-card>