<mat-accordion>

    <mat-expansion-panel [disabled]="true"
    #info="matExpansionPanel" *ngFor="let user of users" class="user" > 
   
        <mat-expansion-panel-header  >
            <mat-panel-title class="list-title " (click)="details(user)">
                {{user.id}} - {{user.name}}
            </mat-panel-title>
            <button mat-icon-button (click)="info.expanded = !info.expanded"><mat-icon>details</mat-icon></button>
        </mat-expansion-panel-header>
        <mat-list>
            <mat-list-item  ><span class="list-title">Username: </span>{{user.username}}</mat-list-item>
            <mat-list-item  ><span class="list-title">Email: </span>{{user.email}}</mat-list-item>
            <mat-list-item  ><span class="list-title">Telefone: </span>{{user.phone}}</mat-list-item>
            <mat-list-item  ><span class="list-title">Cidade: </span>{{user.address.city}}</mat-list-item>
            
        </mat-list>
 
    </mat-expansion-panel>
    
    
</mat-accordion>