<h1>Usuários</h1>
<mat-form-field >
    <mat-label>Filtrar usuário</mat-label>
    <input matInput type="text" [(ngModel)]="userSearch" autocomplete="off" placeholder="Nome ou e-mail" (keyup.enter)="find()">
    <button mat-button *ngIf="userSearch" matSuffix mat-icon-button aria-label="Clear" (click)="find()">
        <mat-icon>search</mat-icon>
    </button>
</mat-form-field>
<button mat-button *ngIf="erroMessage !== ''" matSuffix mat-icon-button aria-label="Clear" (click)="reload()">
    <mat-icon >
        autorenew
    </mat-icon>
</button>
<p *ngIf="erroMessage !== '' && userSearch !== ''">{{erroMessage}}</p>
    <app-user-list [users]="users"></app-user-list>


